[2017-12-22 14:36] sidkothiyal opened #28 "Restructure code for I/O, probably create classes for each type of input"

[2017-12-22 14:37] sidkothiyal opened #29 "Restructure the types (Variable, Operators, Constants), Probably make classes for each"

[2017-12-27 16:38] arnab1896 commented on #28
@sidkothiyal  @hornig
Can i get this assigned to myself?

[2018-01-12 15:24] sidkothiyal commented on #28
Hey @arnab1896,
Sure!
The task will involve creating different modules/classes for different types of input. The need for this is really obvious, if we wish to expand the input styles for VisMa, classes will be really helpful.
During my Gsoc I learnt something more important than coding, that is planning. Planning before starting to code decreases development time considerably and gives you a dire

[2018-02-01 12:10] sidkothiyal opened #31 "Integrating a graph library"

[2018-02-01 12:11] sidkothiyal opened #32 "Integration and derivative module"

[2018-02-01 12:12] sidkothiyal opened #33 "Restructure code"

[2018-02-20 11:58] pranavvardia opened #34 "sudo pip install pyopengl not working"

[2018-02-23 13:29] supragya opened #36 "Allow pacman usage alongside apt-get"
Currently `run.sh` is coded to install packages from `apt-get`. It would be nice to extend this to `pacman`

[2018-03-03 21:29] #36 closed

[2018-03-05 19:58] #34 closed

[2018-03-06 16:35] jsinghvi commented on #33
Hey!
I tried out VisMa and I think it's an interesting idea. The GUI needs a lot of work though.
I would like to help. Where should I start? (I'm new to Open Source)

[2018-03-10 17:03] 8hantanu opened #40 "Incomplete and incorrect simplifications"
Following are a few cases:

![image1](https://user-images.githubusercontent.com/19494743/37244752-8534cc12-24b3-11e8-8191-d20a96d81440.png)

![image](https://user-images.githubusercontent.com/19494743/37244797-0d1e795c-24b4-11e8-9d6b-fbccf6ba8ddc.png)

![image2](https://user-images.githubusercontent.com/19494743/37244668-a3eb18a6-24b2-11e8-8593-4f655884d97b.png)

![image3](https://user-images.gith

[2018-05-30 13:19] 8hantanu commented on #33
Fixed in #47 (in commit 37d4b0e to be more specific)

[2018-05-30 13:19] #33 closed

[2018-05-30 13:19] 8hantanu commented on #29
Fixed in #49

[2018-05-30 13:19] #29 closed

[2018-06-02 18:24] 8hantanu commented on #31
Added plotter in #50

[2018-06-04 17:57] 8hantanu commented on #40
Fixed in commits ded7592 and 422fb8b

[2018-06-04 17:57] #40 closed

[2018-08-06 09:04] #28 closed

[2018-09-17 15:32] 8hantanu opened #62 "Command line interface"
Create a CLI for visma. A query like **`simplify(x + x = 1 - y)`** should output as follows:
[code]

[2018-09-18 12:39] 8hantanu opened #63 "LaTeX to Text Parser"
To support LaTeX expressions as input, a parser is required which converts LaTeX format to expression text.

[2018-09-18 12:53] 8hantanu opened #64 ".bat Script for Windows Users"
A run.bat script (similar to the present [run](https://github.com/aerospaceresearch/visma/blob/master/run) script) to run, test and develop visma is to be created for Windows users.

[2018-09-21 13:57] ZER-0-NE opened #66 "Visma exits abruptly on simplifying when given no input"
It is seen that Visma exits abruptly when no input is provided and we press the simplify button. This should be handled gracefully by visma providing a simple error message.

[2018-12-05 13:17] #64 closed

[2018-12-10 11:03] PulkitMishra commented on #63
@8hantanu project looks cool. Anyone working on this issue?

[2018-12-14 18:31] ZER-0-NE opened #77 "Math-domain error should be handled inside the visma GUI."
A divide-by-zero error makes visma exit. This should instead be handled by visma displaying a math-domain error in the GUI itself.

[2018-12-16 11:46] ZER-0-NE opened #78 "TypeError on giving fractional powers."
Currently, Visma does not support fractional exponents.
eg. 4^(4/7) exits giving a type error.

[2018-12-18 12:11] ZER-0-NE opened #81 "UnboundLocalError: local variable 'comments' referenced before assignment"
This error occurs after we click the Back button instead of solving any algebraic expression wiith respect to any of the variables x,y or z.
The error throws an UnboundLocalError on the local variable `comments` in main.py in the given line:

`self.output = resultLatex(operation, equationTokens, comments, varName)`

[2018-12-19 10:23] #81 closed

[2018-12-22 08:55] ZER-0-NE opened #82 "Adding scroll option for step-by-step solutions which go out of assigned area."
Currently, it has been found that for some algebraic expressions, the step-by-step solution go out of bounds of the assigned area and the steps are not visible.
There is a need to add scroll option for those steps which do not fit in the assigned area, though we have an option for changing font-size.
Here is a sample:

![Step-by-Step](https://i.imgur.com/1SkYawG.png)

[2018-12-26 14:41] gr8geek commented on #62
Hello Shantanu,
I would like to work on the command line interface feature.
I would also like to add matrix and capabilities to visma in command line interface.

[2018-12-26 15:59] 8hantanu commented on #62
@pratyushharsh9000 Sure. Fork the dev branch, make yourself familiar with the code base and read [this](https://github.com/aerospaceresearch/visma/wiki/Guidelines) before making a PR. If you need help and want to communicate further use the [chat](https://gitter.im/aerospaceresearch/VisMa). Cheers.

[2018-12-27 18:31] zeus0789 opened #86 "GUI exits abruptly when encountered errors"
Errors such as TypeError, Geometry-related errors etc. should be caught and displayed in a seperate area below the already existing dynamic quick solver.

[2018-12-27 19:21] zeus0789 opened #88 "Simplify button vanishes on pressing back"
When the equations has only two operations solve and simplify, the simplify button vanishes on pressing back button.

[2018-12-27 19:53] #88 closed

[2018-12-28 19:03] ZER-0-NE commented on #86
What kind of geometry related errors? Can you post an eg.?

[2018-12-29 04:04] abhishekti7 commented on #86
![capture](https://user-images.githubusercontent.com/32027962/50533294-e215a480-0b4c-11e9-9764-d0aa3f0dd463.PNG)

[2018-12-29 07:53] he1l0world opened #89 "Duplicate history"
![duplicate](https://user-images.githubusercontent.com/27997963/50535091-457ae480-0b03-11e9-8457-430b2c4ab3f6.png)
![duplicate2](https://user-images.githubusercontent.com/27997963/50535148-0d27d600-0b04-11e9-8c89-f4a6a6075457.png)
I just wrote a few equations, but the second time I opened the Visma, there are thousands of duplicated histories. It seems like it will double every time it opens.

[2018-12-29 07:53] he1l0world commented on #89
![duplicate](https://user-images.githubusercontent.com/27997963/50535164-2df02b80-0b04-11e9-93e4-6ad6dd954b63.png)

[2018-12-29 08:06] 8hantanu commented on #89
This issue is fixed in the dev branch. I think you are building from the main branch(refer [this](https://github.com/aerospaceresearch/visma/wiki/Guidelines)). If not, can you mention the equations/steps which reproduce the above error.

[2018-12-30 00:38] he1l0world commented on #89
okay sorry I didn't notice that

[2018-12-30 07:37] #89 closed

[2018-12-31 07:44] he1l0world opened #91 "Crash when I type list"
![image](https://user-images.githubusercontent.com/27997963/50556336-0381a800-0c95-11e9-8468-5e541188c5be.png)
![image](https://user-images.githubusercontent.com/27997963/50556338-09778900-0c95-11e9-885f-6ad14663b586.png)
I'm trying to type equation like 99+(x+2), but when I was trying to type ')' then it crashed.

[2018-12-31 08:45] ZER-0-NE commented on #91
I believe this was solved in #71.
EDIT: No

[2018-12-31 09:44] he1l0world commented on #91
@ZER-0-NE This issue is that it will crash if we type parentheses in an equation.

[2019-01-01 00:52] he1l0world opened #93 "“Add Equation” will cause crash"
![image](https://user-images.githubusercontent.com/27997963/50569405-50ab5b80-0d21-11e9-9d0e-b48fa51f0397.png)
![image](https://user-images.githubusercontent.com/27997963/50569503-d6300b00-0d23-11e9-9598-9e36909dd41f.png)

When I tried to add an empty file twice, then it will crash. The following are my guess:

The solution I thought was, if the user chooses an empty file then it will cause a warn

[2019-01-01 01:07] he1l0world commented on #93
I would like to solve this issue.

[2019-01-01 01:09] he1l0world commented on #93
I've solved this issue and it works fine on my computer. Also, I tested all the test modules.

[2019-01-01 07:56] 8hantanu commented on #93
Can you make a PR?

[2019-01-01 08:00] he1l0world commented on #93
@8hantanu Sure. Could you please review the pull request. Then I can create a new PR.

[2019-01-01 08:03] 8hantanu commented on #93
I don't see any file changes in #92. I think you forgot to commit your local changes.

[2019-01-01 08:07] he1l0world commented on #93
Oh, maybe I need to create a new PR. Thank you.

[2019-01-01 18:02] ZER-0-NE commented on #86
How do I reproduce this bug?

[2019-01-02 07:50] #93 closed

[2019-01-12 17:53] #77 closed

[2019-01-19 15:29] Rhitabrat commented on #91
This issue is not solved.

[2019-01-20 06:49] ZER-0-NE opened #108 ""0" is not printed as output on visma."
It has been found that 0 is not printed as output on visma. It also leads to abrupt exit on simplifying for simple computations like 2-2 (or any other which results in zero)
The expected outcome should be to handle this case inside visma and also on the CLI developed.

[2019-01-20 12:52] #108 closed

[2019-02-04 14:32] alpeshjamgade commented on #78
anyone working on this?

[2019-02-04 15:26] 8hantanu commented on #78
@alpeshjamgade  I don't think so. You can go ahead if you want to.

[2019-02-04 18:27] ayush9398 opened #116 "GUI not launching"
I am new to visma, installed it using `pip3 install visualmath`
After installation I tried `from visma.main import init` but it gives error `cannot import name 'init'
`.
Please help!

[2019-02-04 18:32] ZER-0-NE commented on #116
I believe it's `initGUI`.
Take a look [here](https://github.com/aerospaceresearch/visma/wiki#installation) and see if it helps.

[2019-02-04 18:34] ayush9398 commented on #116
Yeah, it's working now. Thanks.

[2019-02-04 18:38] #116 closed

[2019-02-07 16:38] vedangj044 opened #118 "Crashes for some functions"

[2019-02-07 16:39] vedangj044 commented on #118
When we type
y  = sin(x), it crashes abruptly with error
TypeError: 'NoneType' object is not subscriptable
Aborted

[2019-02-11 13:29] mayankDhiman commented on #91
Issue was solved with latest improvements.
As evident in screenshot:
![image](https://user-images.githubusercontent.com/32799055/52566152-055f8f00-2e2f-11e9-8a8b-449229cb02f1.png)
I  think it can be safely closed now

[2019-02-11 13:44] mayankDhiman commented on #118
This issue is solved (in `dev` branch)  as evident by screenshot:
![image](https://user-images.githubusercontent.com/32799055/52566876-e06c1b80-2e30-11e9-81bb-a916b8bc2a15.png).
_However it crashes in `master` which will be updated soon_

[2019-02-18 15:09] ayush9398 commented on #32
is this issue available? and also, what is this about?

[2019-02-28 18:45] nahimilega opened #120 "ModuleNotFoundError: No module named 'PyQt5.QtWebEngineWidgets' Error while trying to run main.py"
It gives an error with PyQt5 ver 5.12.

![image](https://user-images.githubusercontent.com/42585035/53590141-21955700-3bb7-11e9-8419-3c92d666d4f6.png)

[2019-02-28 18:46] nahimilega commented on #120
I would like to take this issue.

[2019-03-01 12:41] lopuka commented on #62
Hi,I'm new and I would like to contribute,can someone get me started???

[2019-03-02 13:09] Alii-Khaled commented on #120
@8hantanu
I solved the issue by downgrading the PyQt5 version to 5.7.1 due to some issues with PyQt5 with their QtWebEngineWidgets in the latest versions.
i think we can solve it by changing the Requirement.txt file from ( PyQt5>=5 ) to ( PyQt5==5.7.1)

[2019-03-02 13:58] 8hantanu commented on #120
The QtWebEngineWidgets is available from PyQt5.6. So any version between 5.6 and 5.11 will suffice.

[2019-03-02 14:18] #91 closed

[2019-03-02 15:15] Alii-Khaled commented on #120
I searched more in that issue and found out that QtWebEngineWidgets for versions of PyQt5 (5.12+) can be separately installed using ( pip install PyQtWebEngine 5.12 in order for PyQt5 to work well.
i tested it using the Requirement.txt & will make a Pull Request for the Requirement file after editing.
Thx for Help @8hantanu <3

[2019-03-02 16:52] nahimilega commented on #120
Actually I wanted to fix this issue as it could be a good start for me.

[2019-03-02 21:23] Alii-Khaled commented on #120
Oh !! ... i am so sorry, but i really wanted to end this issue cause i couldn't even open the program.
Again .. I am so Sorry @nahimilega . now you can contribute directly without facing unnecessary problems.

[2019-03-03 05:56] abhishekti7 commented on #62
@lopuka Head over to the projects tab for the current objectives.

[2019-03-04 18:34] ZER-0-NE commented on #62
@8hantanu are we still looking to tackle this with the click module?

[2019-03-04 19:28] sidkothiyal commented on #120
Solved with pull request #123

[2019-03-04 19:28] #120 closed

[2019-03-05 03:35] lopuka commented on #78
I didn't get the software on internet can anyone help me with this I want to install the software visma
Please help me with this

[2019-03-05 03:45] sidkothiyal commented on #78
@lopuka if you are trying to install visma, please refer to the README on the main page
A simple

`pip3 install visualmath`

 would work if you have python3 installed

otherwise, you can download the code,

`chmod +x run`

`./run install `

and then

`./run visma`

For future please raise a new issue and do not comment on other existing issues.

Thanks

[2019-03-05 05:42] alpeshjamgade commented on #78
Use pip install visma                                                                                                                                                                                                                                                                                                                                                     From: Sazid AliSent: Tuesday, March 5,

[2019-03-05 12:54] vidhanarya opened #125 "GUI not functioning properly"
When I try to run visma gui, it gives following warning and gui also doesn't look as expected -

<pre>(aero) <font color="#8AE234"><b>vidhanarya@vidhanarya-MacBookPro</b></font>:<font color="#729FCF"><b>~/Desktop/Project/visma</b></font>$ python3 main.py&gt;&gt;&gt; gui
QLayout: Attempting to add QLayout &quot;&quot; to WorkSpace &quot;&quot;, which already has a layout
</pre>

![issue-visma](http

[2019-03-05 14:59] sidkothiyal commented on #125
Hey @vidhanarya

Thanks for reporting this issue.
If am not incorrect in understanding the problem, you are facing the described issue on both Ubuntu and macOs, right?

[2019-03-05 19:03] #86 closed

[2019-03-05 20:31] vidhanarya commented on #125
I found that I was using the 'master' source, not the 'dev' source in which PyQtWebEngine was added in the requirements, anyway I changed branch from master to dev and then installed required packages. After doing that error still persist, on linux gui is not opening properly as shown in the image from first comment
On macOS, gui was looking as it should (i.e no shrunk input table) just like the g

[2019-03-06 06:22] Subarna578 commented on #118
VisualMath software stops functioning when one wants to have the 2-D graph of exp(x)+exp(y).
2. There are a lot of issues when dealing with decimal values.
 For eg: 1.+3 =4. It would be better if the input format is correctly labelled or provided the warning message stating that "Incorrect input format"
3. .1= 1 in Visma. It should be 1.
![screenshot from 2019-03-06 11-52-16](https://user-images.g

[2019-03-06 07:02] vidhanarya commented on #78
If anyone is not working on this issue I would like to work on it

[2019-03-06 09:05] vidhanarya opened #129 "Visma cannot handle simplifications with multiple parentheses"
As stated in Issue #78, it was given that "visma cannot calculate fractional powers", I would like to generalise the problem as visma cannot simplify/calculate equations with multiple parentheses such as (4 + (5 + 4))

<pre>(aero) <font color="#8AE234"><b>vidhanarya@macbookpro</b></font>:<font color="#729FCF"><b>visma</b></font>$ python3 main.py
&gt;&gt;&gt; simplify(4^0.571)
INPUT: 2.203810231753

[2019-03-06 09:08] vidhanarya commented on #129
If the above qualifies as a valid issue and my solution qualify as a valid solution then I would like to implement the same in the visma interface

[2019-03-09 10:38] PulkitMishra opened #136 "DeprecationWarning while running pytest"
Pytest gives the following warning "DeprecationWarning: invalid escape sequence \" on running. Should something be done to handle it or should we ignore it?

[2019-03-09 10:41] Alii-Khaled commented on #136
Hello Pulkit,
I think you should use raw string instead of normal strings to avoid this Warning.
using r'string' instead of 'string' .
I think this will solve this Warning.

[2019-03-09 11:09] 8hantanu commented on #136
@PulkitMishra To be specific the above warning is caused due to `\_` (underscore is whitespace). Whitepaces in LaTeX are only rendered if `\` is used before the whitespace. Escape sequence like `\_` don't make any sense in python. Hence using rawstring will make python ignore what is going on inside the string and will interpret the string as is.

[2019-03-09 13:45] PulkitMishra commented on #136
Thanks for the input @Alii-Khaled . @8hantanu made a few changes in #135 itself to fix the warnings. Review please.

[2019-03-09 14:50] 8hantanu commented on #125
I think the GUI is not working as expected in Linux because of the screen resolution. It must be at least 1300x900.

[2019-03-09 16:32] #136 closed

[2019-03-10 05:47] #125 closed

[2019-03-10 09:39] 8hantanu opened #140 "Following a specific io syntax"
**To do**:
- Set a fixed syntax so there is no ambiguity while giving input.
- Update the wiki by adding a page for input syntax and rules under _User Manual_ section.
- Output string (from the `tokensToString()` method) must also follow this syntax as it can be used again in an input.
- Changes must be made in **io/tokenize.py** and **io/checks.py** accordingly.

**Some examples**:
- Giving input

[2019-03-10 09:42] 8hantanu opened #141 "Handling cases with multiple parenthesis and expression simplification"
### To do:
- Use _Expression_ class as token for inputs containing multiple parentheses.
- Simplify the expressions recursively while also updating steps and comments list (#129).

### Expected outcome:
- A bool class property named `reduced` in the Expression class which specifies if the given expression can be further simplified.
- If the expression is simplified to a single token change the cla

[2019-03-10 09:54] 8hantanu opened #142 "Replace the simplify modules"
### To do:
Replace most of the methods (for add, sub, mul, div) in the **visma/simplify** module with class methods in function classes in **visma/functions**.

### Current implementation:
Go through the methods defined in **visma/simplify/***.
For example doing a simple operation like addition of two functions tokens would be something like:
[code]
Here `tok1`, `tok2`, `sumTok` can be the subclas

[2019-03-10 10:00] 8hantanu opened #143 "Extending support for Functions"
### To do:
 Add tokenize and simplify support for different function classes.

### Prereq:
Adding simplification support for the functions would be easier after simplify module is updated (#142)

### Expected outcome:
- Create new `Function` classes or modify existing ones (trig, exp, log etc)
- Add support for tokenize and relevant checks for function input syntax
- Add simplification and plottin

[2019-03-10 10:03] 8hantanu commented on #32
**To do**:
Add integration and derivation support for different Functions

**Prereq**:
Implementing the integration and derivatives methods will be simpler after the update of _Expression_ class(#141) and **simplify** module(#142).

**Expected outcome**:
- Add differentiate and integrate methods to all _Function_ classes (#143)
- Add algorithms like differentiation product-rule and integration by-

[2019-03-10 10:08] 8hantanu opened #144 "Fix view in steps figure"
Set the default position of the horizontal scroll bar to center. See module **gui/steps.py**.

Current                          |  Expected
:-------------------------:|:-------------------------:
<img src="https://user-images.githubusercontent.com/19494743/54083488-04e0e800-434a-11e9-8a8a-0db59932c0ff.PNG" alt="drawing" width="250"/> | <img src="https://user-images.githubusercontent.com/19494743/5

[2019-03-10 10:15] 8hantanu opened #145 "Plot in both 2D and 3D"
### Todo:
- ~Modify **gui/plotter.py** to plot both 2D/3D plots for some functions.~ (Fixed by #149 )
- Add support for single variable equations plots(Ex: `x = 1`, `x^2 = 4`).
### Example:
`x^2 + y^2 = 25` can be plotted in both 2D plot(a circle) and 3D plot(a cylinder). Currently this only plotted in 2D.

[This](https://github.com/aerospaceresearch/visma/blob/1971c7ae17688c30f105dd760b8058091778

[2019-03-10 10:18] 8hantanu commented on #62
@ZER-0-NE Yes. @mayankDhiman has created a nice simple CLI. But we still need support for input history and navigation using arrow keys which is present by default in click or [some other CLI library](https://realpython.com/comparing-python-command-line-parsing-libraries-argparse-docopt-click/).

[2019-03-10 10:55] mayankDhiman commented on #62
Yep! It misses many features yet.

[2019-03-10 11:06] gr8geek commented on #145
So we have to plot the contour line of the function.

[2019-03-10 11:13] gr8geek commented on #145
![image](https://user-images.githubusercontent.com/41500702/54084181-89843400-4353-11e9-9ebb-3e94e435ae79.png)

Do we have to plot something like this

[2019-03-10 12:12] 8hantanu commented on #145
In the GUI there are two plot tabs(2D and 3D). We have to update the plot figures in both the tabs.
Following should be the expected output for `x^2 + y^2 = 25`.

2D plot tab |  3D plot tab
:-------------------------:|:-------------------------:
<img src="https://user-images.githubusercontent.com/19494743/54084805-72494480-435b-11e9-878e-b7f8fc077b87.PNG" alt="2D" width="250"/> | <img src="https:/

[2019-03-10 16:01] Alii-Khaled commented on #142
So here we will make operator overloading for ( + , - , * , / ) right ?!
what is the problem of the Wrapper functions i didn't understand the problem using them ?!
So if they are not the best solution, what should be the best code for addition for example ?!

[2019-03-10 16:03] Alii-Khaled commented on #142
I have taken Object Oriented Programming course and i understand it well & i think i am up for the challenge of that Issue <3 .

[2019-03-10 16:52] abhinavsagar commented on #145
@8hantanu  Are you working on this.If not i am willing to. Please inform me regarding this.

[2019-03-11 10:14] #144 closed

[2019-03-11 11:36] PulkitMishra commented on #142
@Alii-Khaled  are you working on this issue?
This looks like a mammoth task. I guess we should colab

[2019-03-11 14:50] mayankDhiman commented on #142
I am working on this. @PulkitMishra. If you agree we can collab.

[2019-03-11 17:33] Alii-Khaled commented on #142
Sure @PulkitMishra  we can collaborate <3 .

[2019-03-11 17:34] Alii-Khaled commented on #142
we could talk in Visma's Zulip chat for it ?!

[2019-03-11 17:42] abhishekti7 commented on #142
@PulkitMishra @Alii-Khaled @mayankDhiman count me in too!

[2019-03-11 17:46] Alii-Khaled commented on #142
Its will be cool we can Split work into 4 parts for now ( Addition , Subtraction , Multiplication , Division ) 👍
for me i have no problems to work on any one😄 .

[2019-03-11 17:59] mayankDhiman commented on #142
Yep. Lets split it in 4 parts. @Alii-Khaled @zeus0789 @PulkitMishra. Zulip is ok.

[2019-03-12 19:17] 8hantanu commented on #142
Yes.

The current implementation will require many changes in different methods(`getLevelVariables()`, `expressionAddtition` etc) and modules(simplify, io etc ) everytime a new Function type is added. So I thought rewriting the whole module will be much suitable for future development.

Its upto you to figure it out.

PRs for this can be made to the new branch([**simplify**](https://github.com/aer

[2019-03-15 19:19] Alii-Khaled opened #158 "GUI Crashes for some input forms."
Like Crashing when using input as : sin(x)* , sinn ...etc.
when just entering this input the gui crashes. even if i mistakenly entered more "n" in sin for example.
Also other issue is that after clicking Simplify it deletes every sin, cos, tan, exp, log, .... etc. from the TextBox in the GUI.
I will focus on solving these issues once i have some time.

[2019-03-16 16:39] Alii-Khaled opened #160 "getVariables Issue"
when getVariables take a sin(x) or any thing like that ( cos(x), tanh(y), ...etc. ) it doesn't regard it as a Variable at all which i think should be handled right ?!

[2019-03-20 22:26] Alii-Khaled opened #163 "Multiple Decimal Points Bug"
I think this shouldn't be happening, we shouldn't allow inserting more than one decimal point in each (Constant) instance right ?!
and where should we make an assertion to prevent such input from user ?!
![Issue](https://user-images.githubusercontent.com/47671499/54723344-f4ade180-4b6f-11e9-898f-b20420214a45.PNG)

[2019-04-02 18:25] mayankDhiman opened #169 "Adding modules for Expression simplification"
**Problem:** Certain expressions like `(x+y)^2`, `(x^2 + xy + 1)*(x + y)`, `(x + y)^3` etc. are not simplified by VisMa.

**Solution:** The problem can be solved by writing a method `expressionSimplification` inside the _Expression Class_. Whenever we get an expression while tokenizing input equation, this function can be called.

**Pre-requisites**: This would be easier to do once the _Simplify_

[2019-04-02 18:27] Alii-Khaled commented on #169
or by using __pow__ operator overloading of Expression Class right ?!

[2019-04-02 18:33] Alii-Khaled commented on #169
and __Mult__ operator overloading too. 😂

[2019-04-02 19:44] subhani92 opened #170 "gui crashes for some input while graph platter is enabled"
GUI crashes while graph-platter is enabled for some input like (x+y)^2=10(some constant)
error showing on terminal like this:-
![Screenshot from 2019-04-03 01-17-37](https://user-images.githubusercontent.com/33460354/55431542-71987c80-55ae-11e9-88a8-1477eb362bc6.png)

[2019-04-02 19:47] Alii-Khaled commented on #170
Can you be more specific ?! what exactly the input that caused that crash ?!

[2019-04-02 19:53] subhani92 commented on #170
@Alii-Khaled  when clicking visma->simplyfy
This crash doesn't occur when Graph platter opiton is unchecked.

[2019-04-02 19:55] Alii-Khaled commented on #170
aha fine, so what was the input Equation you used in the application ?!

[2019-04-02 20:01] subhani92 opened #171 "Power gets subtracted from right value"
As shown in below (x-y)^2=10 is converted into x-y-8=0. Power is subtracted from right value-
This issue occur when using braces i.g. (), because this expression (X)^2=10 is simplified as x-8=0.
While This is fine x^2=10.
![Screenshot from 2019-04-03 01-08-49](https://user-images.githubusercontent.com/33460354/55431986-642fc200-55af-11e9-9494-642101c143d2.png)

[2019-04-02 20:06] subhani92 commented on #170
@Alii-Khaled  It was (x+y)^2=10, note that it is working fine for this input x^2 + y^2 + 2xy =10 (2D graph was also plotted)

[2019-04-02 20:09] Alii-Khaled commented on #170
ahaa, as mentioned in #169  the project have some bugs dealing with expressions raised to an integer power.

[2019-04-02 20:24] subhani92 commented on #170
@Alii-Khaled I would like to work on this issue, kindly guide me to fix this.

[2019-04-03 09:17] Alii-Khaled commented on #170
Sorry I closed internet to study for an exam.
look I think you should work on another bug, because this one will be solved by default when Simplify Module got reworked.

[2019-04-04 09:31] mayankDhiman commented on #169
Yes, as per me.
After overloading operators like **pow**, **mult** etc, we will include these inside _expressionSimplification_ method of _Expression Class_. And then call that method when tokens are instances of _Expression Class_.

[2019-04-05 10:04] Alii-Khaled commented on #169
yup, exactly. 👍

[2019-04-05 22:24] Alii-Khaled commented on #140
These are Input forms I think VisMa should have.

**-** Spaces inside the input Expression are allowed but any space between the Trigonometric, Logarithmic, Exponential & hyperbolic functions are not allowed ( like:  Si  n(x) ).

**-** Any Trigonometric, Logarithmic, Exponential & hyperbolic functions must have at least 1 closing & 1 opening Bracket which contain the function's expression like: si

[2019-04-06 16:31] Alii-Khaled commented on #163
Solved in #172

[2019-04-07 21:12] subhani92 opened #173 "GUI Crashes while solving for other variable"
For any linear equation, solving for one variable is working fine while for other variable GUI crashing
See below-

![issue](https://user-images.githubusercontent.com/33460354/55689871-cb7eb500-59a7-11e9-9f9b-4bdc7331b4b9.gif)

[2019-04-08 03:23] abhishekti7 commented on #173
This only happens because visma currently does not support expression simplification. The result of the first equation is displayed with parenthesis. So the next time when you press solve, gui crashes because it does not know what to do with the Expression class tokens.

[2019-04-11 13:47] #163 closed

[2019-05-10 20:19] mayankDhiman opened #189 "Adding a module for Discrete Mathematics"
_Objectives:_
+ Adding a class to contain discrete maths variables. To be added in `visma/structure.py`. The discrete maths operations are to be performed on these tokens.
+ Basic modules for AND, OR, NOT etc are to be added.

[2019-05-10 20:29] mayankDhiman opened #190 "Module for Cardano's Algorithm"
Cubic equations can be implemented using [Cardano's](https://brilliant.org/wiki/cardano-method/) method.

_File to be modified:_ `visma/polynomial/roots.py`

[2019-05-10 20:37] mayankDhiman opened #191 "A parsing module for displaying matrices in LaTex"
There is a need to create some module for parsing matrix module in GUI. This can be used in displaying simultaneous equation solvers in GUI (_which currently displays the result of determinants of matrices directly_).

[2019-05-22 21:52] mayankDhiman opened #193 "Add a simultaneous equation solver and integrate in GUI & CLI"

[2019-05-29 21:53] #193 closed

[2019-05-30 17:23] sachinam1397 commented on #171
I want to work on this issue . But can you tell me some more test cases.

[2019-05-30 18:02] sachinam1397 commented on #171
Can you assign me for this issue?

[2019-05-30 18:08] sachinam1397 commented on #129
Can you assign me for this issue @vidhanarya

[2019-06-01 07:17] sachinam1397 commented on #63
@8hantanu  can you please assign me this issue .

[2019-06-08 09:34] mayankDhiman commented on #142
Fixed with #197

[2019-06-08 09:34] #142 closed

[2019-06-12 17:56] mayankDhiman commented on #145
Fixed by #198.

[2019-06-12 17:56] #145 closed

[2019-06-21 16:57] mayankDhiman commented on #169
Fixed by #199

[2019-06-21 16:57] #169 closed

[2019-06-21 16:59] mayankDhiman commented on #141
fixed by #199

[2019-06-21 16:59] #141 closed

[2019-06-21 17:11] mayankDhiman opened #201 "Tokenize module doesn't recognize `pow` operator in many cases"
**Problem:** Tokenizer module doesn't seem to recognise '^' _(power operator)_ in many cases.

**Example:** If `(x + 1)^2 + 1` is given as input, ideally it should be tokenized as `[Expression(x + 1), Binary (^), Constant(2), Binary(+), Constant(1)]` or as `[Expression(x + 1), Constant(2), Binary(+), Constant(1)]` (where `pow` of Expression has to be 2) but it gets tokenized as `[Expression(x + 1)

[2019-06-21 17:15] mayankDhiman commented on #129
Fixed by #199

[2019-06-21 17:15] #129 closed

[2019-06-24 06:19] VaishnaviGanamukkala opened #203 "Module to find the roots of Quartic(4th degree) Polynomials"
An enhancement to obtain the roots of 4th degree polynomials.
[Roots of Quartic Polynomial](https://en.wikipedia.org/wiki/Quartic_function#General_formula_for_roots)

[2019-06-26 01:29] VaishnaviGanamukkala opened #204 "KeyError: 'back' while passing the command gui in the command line"
I just started to work on visma, and I have an issue while trying to initiate the GUI.

#### What have I done
I ran the main.py, and was prompted to the CLI. Tried giving the command 'gui'.

#### Outcome
I received the following error

![error](https://user-images.githubusercontent.com/39895990/60143738-59b34c00-97dd-11e9-8b28-4c7fc14972ff.png)

Log file record

`2019-06-26 06:35 - main - INFO: In

[2019-06-26 15:51] mayankDhiman commented on #204
Hi @VaishnaviGanamukkala!

I tried it in my local system if I am not wrong, there is not an issue in opening the GUI window. Please make sure you have installed all dependencies which can be done with command `./run install` (for other arguments with you can type `./run` in a terminal and get the list of all other commands available). Please let me know if this works.

[2019-06-26 17:10] VaishnaviGanamukkala commented on #204
Thanks for the reply.
I tried as you mentioned above. But I'm still facing the same problem
I ran `pip3 freeze` to check all the available packages.

![Screenshot from 2019-06-26 22-29-10](https://user-images.githubusercontent.com/39895990/60199943-a68d3600-9862-11e9-98a4-ae03d30bde2a.png)

May I know the exact versions of each dependency package, that you are using?

[2019-07-07 20:23] mayankDhiman commented on #203
Fixed by #202

[2019-07-07 20:23] #203 closed

[2019-07-07 20:24] mayankDhiman commented on #190
Fixed by #202

[2019-07-07 20:24] #190 closed

[2019-07-20 21:44] mayankDhiman commented on #189
#208

[2019-07-20 21:44] #189 closed

[2019-07-22 18:23] VaishnaviGanamukkala commented on #63
Is anyone working on this issue?

[2019-07-23 17:40] mayankDhiman commented on #32
Fixed by #209

[2019-07-23 17:40] #32 closed

[2019-08-03 18:43] mayankDhiman opened #212 "Parser for Converting Matrix into printable string format"
- Parser for Converting Matrix into the printable string format.
- A separator parser for displaying for converting Matrix operations in CLI/GUI form (the earlier available parser is designed for equations not involving Matrix operations).

[2019-08-05 19:56] #170 closed

[2019-08-05 19:57] mayankDhiman commented on #171
Fixed with Expression Simplification Module

[2019-08-05 19:57] #171 closed

[2019-08-09 20:48] mayankDhiman opened #214 "Use LaTex package (like /amsmath) for displaying Matrices in GUI"
As of now, we are not using any such package for displaying the matrices in GUI mode. Using such a module would indeed be useful. Any package like `/amsmath` which can be used to display matrices can be integrated.

[2019-08-13 19:07] mayankDhiman commented on #212
Fixed by #213

[2019-08-13 19:07] #212 closed

[2019-08-13 19:08] mayankDhiman commented on #191
Fixed by #213

[2019-08-13 19:08] #191 closed

[2019-08-14 20:14] mayankDhiman opened #215 "Test Cases for Statistics Module"
- Add basic test cases for statistics modules like Arithmetic Mean, Mode & Median.

[2019-08-16 22:53] wolfy01 opened #217 "Won't run"
[code]

[2019-08-17 08:16] mayankDhiman commented on #215
Fixed by #216

[2019-08-17 08:16] #215 closed

[2019-08-17 08:19] mayankDhiman commented on #62
More improvements (or new features) in CLI will be added as the need arises. As of now, we have a simple & robust CLI, hence this issue is closed.

[2019-08-17 08:19] #62 closed

[2019-08-23 20:32] mayankDhiman commented on #201
Fixed by #218 & #210.

[2019-08-23 20:32] #201 closed

[2019-08-23 20:32] mayankDhiman commented on #78
Fixed by #218

[2019-08-23 20:32] #78 closed

[2019-09-07 17:29] mighty-phoenix commented on #214
Hey @mayankDhiman
I am new to this project. Can you please give me a brief related files overview? Where should the new package be installed?
Thanks.

[2019-09-07 17:38] mighty-phoenix commented on #217
@wolfy01 DId you install the requirements first?
Kindly refer the instructions mentioned in the [README.md](https://github.com/aerospaceresearch/visma/blob/master/README.md) file

[2019-09-27 15:08] archithadge commented on #217
@wolfy01 I had the same issue. Install it for development from this link
[https://github.com/aerospaceresearch/visma/archive/master.zip]

and run the following command
pip install -r requirements.txt

and run main.py from it.

[2019-09-29 19:44] ar06x commented on #217
Didn't seem to fix it...

[code]

[2019-09-30 19:28] netkeojas opened #222 "Problem In running"
I tried to run on Ubuntu 18.04 bionic and had the following error

_>>> from visma.main import init
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ojas/.local/lib/python3.6/site-packages/visma/main.py", line 4, in <module>
    from visma.gui.window import initGUI
  File "/home/ojas/.local/lib/python3.6/site-packages/visma/gui/window.py", line 16, in <module>

[2019-10-02 09:11] mayankDhiman commented on #222
`pip3 install -r requirements`, try running this first to install requirements for VisMa. If possible, try discussing the problem on Zulip channel before opening the issue.

[2019-10-02 09:14] mayankDhiman commented on #217
Hi, thanks for opening this.`pip3 install -r requirements` will fix it. If in any case it doesn't consider installing PyQt5 manually. Please considering discussing on Zulip chat before opening an issue.

[2019-10-03 16:59] mayankDhiman commented on #214
_Hi! I was a bit preoccupied these days so couldn't reply on time. Glad to see that you want to contribute._
Regarding any overviews or requirements of the project please consider looking through the documentation of the project (it is very well written & is quite detailed). Dependencies can be installed using `requirements.txt` using `pip3 install -r requirements.txt`

[2019-10-12 21:26] ar06x commented on #217
Ive tried that too.. Nothing seems to work

[2019-10-21 21:31] he1l0world commented on #214
Hi! Is this issue fixed? if not, can I take this issue? Thx.

[2019-10-21 21:50] he1l0world opened #223 "Crash when click the visma button"
![image](https://user-images.githubusercontent.com/27997963/67245615-40c84980-f411-11e9-87b1-59e81183c281.png)
![image](https://user-images.githubusercontent.com/27997963/67245634-4cb40b80-f411-11e9-8b6a-4c8a4c8020c3.png)
This happens when clicking the vsima button in GUI without input anything. This issue seems like the variable hasn't been initiated.

[2019-10-21 21:51] he1l0world commented on #223
If this considered a bug, can I take this issue? Thx.

[2020-02-02 09:02] MUKESHSIHAG opened #226 "Expressions with parentheses are not evaluating correctly"
<p>Expression with parantheses are not giving correct result in Visma.</p>
<p>For ex. The input is<h3>4+(3/(3-4)*3)</h3> and after simplifying it returns <b>7 </b>But the expected(correct) result is <b>-5</b></p>

<img src="https://user-images.githubusercontent.com/33174056/73605731-08b3d380-45c8-11ea-9b3d-426505064262.png">

[2020-02-21 10:14] dinesh1136 opened #227 "Operation on trgnometric function not working"
##  Description
Operations- simplify,integration,differentation,algebraic not working on any Trignometric functions.

**Steps to reproduce**
1. Run visma gui
2. Type any trignometric function in term of x.
3. Click on visma.
4. Choose options -simplify, differentiation, integration.

**Gif attached**
<img src="https://user-images.githubusercontent.com/33224287/75025200-c0018300-54c0-11ea-85f9-f601

[2020-02-21 10:40] dinesh1136 opened #228 "power of i(iota) is not evaluating"
##  Description
Operations- power,multiplication

### Expected
i^2 = -1
i^4 = 1
....

**Steps to reproduce**
1. Run visma gui.
2. perform operation e.g power or multiplication on i(iota).
3. Click on visma.
4. Choose options -simplify.

**Gif attached**
<img src="https://user-images.githubusercontent.com/33224287/75027223-2f2ca680-54c4-11ea-8514-a95eaa933632.gif"></img>

**I would like to work on

[2020-02-21 10:51] dinesh1136 commented on #227
@sidkothiyal sir, i would like to work on this.

[2020-02-21 10:52] dinesh1136 commented on #228
@sidkothiyal sir, i would like to work on this.

[2020-02-21 10:53] dinesh1136 commented on #226
@MUKESHSIHAG are you working on this?
if not i would like to work on this.

[2020-02-21 11:10] dinesh1136 opened #229 "operation on logarithm & exponet functions are not working properly"
##  Description
Operations- simplify,integration,differentation,algebraic not working on logarithm & exponetial functions.

**Steps to reproduce**
1. Run visma gui
2. Type logarithm or exponet function in term of x or any value.
3. Click on visma.
4. Choose options -simplify, differentiation, integration.

**Gif attached**
<img src="https://user-images.githubusercontent.com/33224287/75029669-80d73

[2020-02-21 11:32] dinesh1136 opened #230 "Division on polynomial giving wrong result"
##  Description
Operations- Division

**Expexted result
(x^2+x)/x = x+1.

**Steps to reproduce**
1. Run visma gui
2. write equation as (x^2+x)/x
3. Click on visma.
4. Choose options -simplify

**Gif attached**
<img src="https://user-images.githubusercontent.com/33224287/75031140-98fc7e80-54cb-11ea-8f3b-cd0e664fc811.gif"></img>

**I would like to work on this**

[2020-02-21 12:25] dinesh1136 opened #231 "Expression with pie are not evaluating correctly"
##  Description
Operations- Multiplication,addition,division with Pie in expression not evaluating correctly.
unexpected behaviour of Pie as can be seen in GIF.

**Expexted result
pie*5 = 15.7

**Steps to reproduce**
1. Run visma gui
2. write expression using Pie.

3. Click on visma.
4. Choose options -simplify

**Gif attached**
<img src="https://user-images.githubusercontent.com/33224287/75034079

[2020-02-23 17:44] tushant1037 opened #233 "Power less than 0 won't working."
1. There is not a square root function
2. when trying to find square root using power method 25^(0.5), it won't work. showing output the same as the input.
3. example :

![Screenshot from 2020-02-23 23-00-07](https://user-images.githubusercontent.com/42100482/75116810-0e19b080-5692-11ea-8365-1c630f82b190.png)

[2020-02-24 08:52] gr8geek opened #234 "Evaluation problem for trigonometric function in quick solve"
![Screenshot from 2020-02-24 14-23-33](https://user-images.githubusercontent.com/41500702/75138955-79569780-5711-11ea-840a-90fc6bfb7ce3.png)

[2020-02-24 09:00] dinesh1136 commented on #234
Duplicate #227

[2020-02-24 09:09] gr8geek opened #235 "Exted the root finding capability by adding a function to numerically evaluate root upto specified precission"
We will be using regular falsi combined with newton raphson and bisection method to find the root .It is beneficial in two ways as
1.It can be used to test/verify the roots obtained by step by step solver
2. It can be used in case to find the roots of transcendental equation
Example:
find_root(expression,lower bound,upper bound,decimal place precission)
find_root(expression,
find_root(cos(x)-x*e^x

[2020-02-24 09:44] #234 closed

[2020-02-24 09:44] gr8geek commented on #234
Duplicate #277

[2020-02-24 09:46] gr8geek commented on #233
Will try my best to fix the issue

[2020-02-25 04:54] JoyMichael7842 commented on #214
Is this issue still open?If yes can i work on it?

[2020-02-25 13:18] ZouvikPan commented on #235
I would like to work on this.

[2020-02-25 13:24] gr8geek commented on #235
I have already started some work on this and trying to make it more fail-safe and efficient,
I will be sharing my work with you after my semester exams are over(i am into my exams).

[2020-02-25 13:27] gr8geek commented on #235
it seems simple but NR algorithm could fail at times which should be handled by other algorithms ( bisection or regular falsi which can yet fail at other cases)
and they have a different asymptotic rate of convergence

[2020-02-25 13:28] ZouvikPan commented on #235
Actually I have been working on this already. Lets's work together on this then. I think Newton Raphson alone won't be able to do the job of finding roots.

[2020-02-25 13:30] gr8geek commented on #235
Sure

[2020-03-02 14:28] RohitX0X commented on #233
I Would Like to work on this!!!

[2020-03-15 04:28] gr8geek opened #238 "CLI closes on exiting the GUI"
Description in line 177 cli.py
# FIXME: when either plotting window or GUI window is opened from CLI and after it is closed entire CLI exits, it would be better if it is avoided

[2020-03-16 11:14] gr8geek opened #241 "Discrete Mathematics: add new modules for representing graph(network) of various kind and graph operations"
https://github.com/gr8geek/visma/tree/network-suppourt-added

We intend to create a graph module that could perform various kinks of graph like:
1.weighted graph
2.trees(including balanced binary search tree)
3.Shortest pathfinder
4.Topological sort
5.Isomorphism checking
6.graph union and intersection

[2020-04-05 05:58] rogervieiraa opened #243 "Visma button is visible on start GUI with no input"
The button visma is visible on first start gui, but have any info in the input.
When you try to click generate an error:
[code]
![Screenshot from 2020-04-05 02-52-59](https://user-images.githubusercontent.com/26381381/78467997-51cbf500-76e9-11ea-8a01-2e0e6fea4df7.png)

[2020-05-22 18:39] soumyashaw opened #246 "Coefficient Optimization"
It shows the coefficient as float by default but will make more sense and realistic if it shows the coefficient without decimal is an integer.
Eg:
now -> 2.0x + 3.0y + 2.3z
after optimization -> 2x + 3y + 2.3z

[2020-08-12 11:08] rudrajit1729 commented on #246
Can I work on it?

[2020-08-12 11:25] rudrajit1729 commented on #246
Can this be assigned to me @soumyashaw ?

[2020-08-12 11:27] rudrajit1729 commented on #241
Can I work On it @authors ? I can resolve the needs of 1, 3, 4.

[2020-08-12 12:02] soumyashaw commented on #246
I don't have the assiging right @rudrajit1729 . You are free to proceed and create a Pull Request!

[2020-08-12 12:06] rudrajit1729 commented on #246
Which part of the code does this optimization require? Could you tell me on which part of the source code you need this optimization?

[2020-08-12 12:17] rudrajit1729 commented on #246
Could you provide me the link to the source code related to this particular issue @soumyashaw ?

[2020-08-13 08:28] gr8geek commented on #241
@rudrajit1729  feel free to make contributions
Cheers

[2020-08-15 19:33] mayankDhiman commented on #246
In my opinion, it seems better if integers are represented as it is. Closing the issue for now, if there is a strong reason why this should be done, I will re open it.

[2020-08-15 19:33] #246 closed

[2020-10-12 14:35] MostafaOmar98 commented on #241
Hello,

Is this still needed? I can work on it.

[2020-10-14 06:55] meghanacosmos commented on #241
I'd like to work on these too!

[2020-10-16 14:29] gr8geek commented on #241
@MostafaOmar98 @Meghana-12 feel free to work

[2020-11-05 05:15] 99bcsagar commented on #63
can i fix it

[2020-11-05 05:19] 99bcsagar commented on #143
can i  contribute

[2020-11-05 05:19] 99bcsagar commented on #214
is the issue open

[2020-11-15 19:26] godspeed5 commented on #243
Can you mention the PC/env specs? I tried this on Ubuntu 20.04 and could not reproduce the issue

[2020-11-17 06:41] namanbansalcodes opened #248 "Unable to import init on PyQt5 5.15.1"
While running the command `from visma.main import init` on:

`Windows 64-bit
Python 3.7.4`

I got the following error:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\ProgramData\Anaconda3\lib\site-packages\visma\main.py", line 4, in <module>
    from visma.gui.window import initGUI
  File "C:\ProgramData\Anaconda3\lib\site-packages\visma\gui\window.py", line 1

[2020-12-15 06:20] kabirkedia commented on #214
Hey, @mayankDhiman is this still open??
I would like to work on this!!!

[2020-12-16 17:55] vieiraroger commented on #243
I had this issue on Ubuntu 16.04, I'm currentily using 20.04 now and could not reproduce the issue

[2021-01-17 16:53] spursbyte commented on #241
I want to work on this issue.

[2021-01-17 16:55] Pradhansuman3112 commented on #241
can i work on this issue ?  please provide me more info.

[2022-01-27 12:17] Pranoypauljr commented on #248
first of all do work this project in a virtual environment and speaking about the above issue,i also had the same error and resolved it by installing 'PyQtWebEngine' library using pip,just run the below command in cli
->pip install PyQtWebEngine